@font-face {
    font-family: 'customFont';
    src: url('../../fonts/HARRYP__.TTF') format('truetype');
  }

  $font-text:"Roboto Flex", sans-serif;

  $color-yellow:rgba(218, 179, 6, 0.823);
  $color-red:#7a1010b5;
  $color-transparent: rgba(255, 255, 255, 0.5);