@import '../../scss/core/_variables.scss';

.section {
  display: grid;
  padding: 30px;

}

.list{
    padding: 0;
    margin: 0;
    display: grid;
    gap:30px;
    text-decoration: none;
    
   
}
@media screen and (min-width: 768px){
  .list{
  grid-template-columns: repeat(2, 1fr);
  gap:30px;
  }
  .section{
    width: 92%;
    margin-left: 5%;
    padding-bottom: 30px;
    padding-top: 40px;
  }
}
@media screen and (min-width: 1024px){
  .list{
    grid-template-columns: repeat(3, 1fr);
    }
}

.card{
  background-color: #7a1010b5;
  color: rgba(218, 179, 6, 0.823);
  padding: 10px;
  text-align: center;
  border-radius: 10px;
    &:hover {
    background-color: rgba(218, 179, 6, 0.823);
    color: #7a1010b5;
  }
}

.card_img{
    width: 210px;
    height: 295px;
    }

.list li {
    width: 100%;
  }

  .card_title {
    font-size: 3rem;
    font-family: 'customFont';
    font-weight: normal;
  }


