@import '../../scss/core/_variables.scss';
.search {
  width: 85%;
  background-color: rgb(91, 22, 22,0.7);
  box-shadow: 0 0.46875rem 2.1875rem rgba(122, 16, 16, 0.7098), 
  0 0.9375rem 1.40625rem rgba(3, 10, 26, 0.03), 
  0 0.25rem 0.53125rem rgba(122, 16, 16, 0.7098), 
  0 0.125rem 0.1875rem rgba(122, 16, 16, 0.7098);
  transform: translate(10%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  border-radius: 10px;
  
&__title{
  color:#dcb759;
  font-size: 1.6rem;
  font-family: $font-text;
  padding: 10px;
  }

  @media screen and (min-width: 768px){
    &__title {
    font-size: 2rem;
  }
 }
}

.input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.find {
  font-size: 1.8rem;
  color:rgba(0, 0, 0, 0.800);
  white-space: nowrap;
  
}
.findCharacter{
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid rgba(218, 179, 6, 0.783);
  color:rgba(0, 0, 0, 0.800);
}

