@import '../../scss/core/_variables.scss';
.search {
  width: 85%;
  background-color: rgb(91, 22, 22,0.7);
  box-shadow: 0 0.46875rem 2.1875rem rgba(122, 16, 16, 0.7098), 
  0 0.9375rem 1.40625rem rgba(3, 10, 26, 0.03), 
  0 0.25rem 0.53125rem rgba(122, 16, 16, 0.7098), 
  0 0.125rem 0.1875rem rgba(122, 16, 16, 0.7098);
  transform: translate(10%, 0%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding:15px;
  
&__title{
  color:#dcb759;
  font-size: 1.6rem;
  font-family: $font-text;
  padding: 10px;
  }

  @media screen and (min-width: 768px){
    &__title {
    font-size: 2rem;
  }
 }
}

.form{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  @media screen and (min-width: 768px){
    flex-direction: row;
    justify-content: space-evenly;
  
 }
}

.find{
  color:#dcb759;
  font-size: 1.5rem;
  font-family: $font-text;
  padding-right: 10px;
  @media screen and (min-width: 768px){
    font-size: 1.8rem;
   }
}
.inputGroup{
  padding:10px;
}





.findCharacter{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  border:3px;
  height: 3rem;
  border-radius: 0.6rem;
  border-color: $color-yellow;
  background-color: rgba(82, 75, 25, 0.804);
  color:rgb(255, 247, 204);
  font-family: $font-text;
  font-size: 1.3rem;
  padding-left: 5px;
}
.findCharacter::placeholder {
  color: rgba(255, 247, 204, 0.434);
}