.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.5);
 
}

.input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.find {
  font-size: 1.8rem;
  color:rgba(0, 0, 0, 0.800);
  margin-right: 10px;
  white-space: nowrap;
  
}
.findCharacter{
  background-color: rgba(255, 255, 255, 0.1);
  border: 3px solid rgba(218, 179, 6, 0.783);
  color:rgba(0, 0, 0, 0.800);
}

