@import '../../scss/core/_variables.scss';
.footer{
  background-color: $color-red;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 0;
  
   

&__text{
  font-family:"font-text";
  font-size: 1.8rem;
  color:$color-letters;
  margin-right: 20px;
  font-weight: bold;
}    
&__icon {
  color:$color-letters;
  font-size: 24px;
  padding-right: 25px;
}


@media screen and (min-width: 768px){
  
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 20px;
  
}
}