@import 'core/reset';

body,
html {
    height: 100%;
    margin: 0;
    background: url('../images/background.jpg') no-repeat center center fixed;
   //www.freepik.es/foto-gratis/escalera-que-conducia-luz-era-como-puente-mundos-ia-generativa_42547363.htm#page=6&query=harry%20potter%20hogwarts&position=43&from_view=search&track=ais&uuid=008c6e65-d58d-476c-a532-02683783506c">Imagen de masadepan</a> en Freepik
    background-size: cover;
}